@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600&display=swap");
/* Remove blue highlight on tap/click */
  a, button, img, input {
    -webkit-tap-highlight-color: transparent; /* For iOS Safari */
  }
/* Removes outline for all interactive elements on focus */
*:focus {
  outline: none;
}

/* Or, for specific elements like input fields */
input:focus {
  outline: none;
}

/* Or, for links */
a:focus {
  outline: none;
}

/* Removes tap highlight for all elements */
* {
  -webkit-tap-highlight-color: transparent;
}

/* Or, for specific elements */
a {
  -webkit-tap-highlight-color: transparent;
}
/* Apply custom focus styles only when keyboard navigation is detected */
*:focus:not(:focus-visible) {
  outline: none; /* Remove outline for mouse users */
}

/* Define your custom focus styles for keyboard users */
*:focus-visible {
  outline: 2px solid blue; /* Example custom outline */
}
  /* Remove focus outlines by default */
  :focus {
    outline: none;
  }

  /* Restore visible focus for keyboard users */
  :focus-visible {
    outline: 2px solid #007BFF; /* Customize your color */
    outline-offset: 3px;        /* Optional spacing */
    border-radius: 4px;         /* Optional styling */
  }
* {
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

img {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: #ebbf46;
}

section {
  padding: 5rem 10%;
}

.heading-link {
  text-align: center;
  background-color: #efedd9;
  background-size: cover;
  background-position: center;
}

.heading-link h3 {
  font-size: 4rem;
  text-transform: capitalize;
  color: #444;
}

.flex-row{
  display: flex;
  flex-direction: row;    
  flex-wrap: wrap;
}

.heading-link p {
  font-size: 2rem;
  line-height: 2;
  color: #777;
}

.heading-link p a {
  color: #ebbf46;
}

.heading-link p a:hover {
  text-decoration: underline;
}

.heading {
  text-align: center;
  margin-bottom: 3rem;
  font-size: 3.5rem;
  text-transform: capitalize;
  color: #444;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 1rem 2rem;
  font-size: 1.8rem;
  border: 0.1rem solid #ebbf46;
  background: #fff;
  color: #ebbf46;
  outline: none;
  cursor: pointer;
  text-transform: capitalize;
}

.btn:hover {
  background: #ebbf46;
  color: #fff;
  outline: none;
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background: #efedd9;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  padding: 2rem 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1000;
}

.header .logo {
  margin-right: auto;
  font-size: 2.5rem;
  text-transform: capitalize;
  color: #ebbf46;
  font-weight: bolder;
}

.header .logo img{
  height: 7rem;
  margin-right: auto;
}


.header .navbar {
  position: relative;
}

.header .navbar #close-navbar {
  position: absolute;
  top: 1.5rem;
  right: 2rem;
  font-size: 4rem;
  cursor: pointer;
  color: #ebbf46;
  display: none;
}

.header .navbar #close-navbar:hover {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.header .navbar a {
  margin-right: 2rem;
  font-size: 2rem;
  text-transform: capitalize;
  color: #444;
}

.header .navbar a:hover {
  color: #ebbf46;
}

.header .icons div {
  cursor: pointer;
  font-size: 2.5rem;
  color: #444;
  margin-left: 1.5rem;
}

.header .icons div:hover {
  color: #ebbf46;
}

.header #menu-btn {
  display: none;
}

.account-form {
  position: fixed;
  top: 0;
  right: -105%;
  width: 35rem;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  gap: 2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  z-index: 1200;
  padding: 2rem;
  text-align: center;
}

.account-form.active {
  right: 0;
  -webkit-box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.8);
          box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.8);
}

.account-form #close-form {
  position: absolute;
  top: 1.5rem;
  right: 2.5rem;
  font-size: 4rem;
  cursor: pointer;
  color: #ebbf46;
}

.account-form #close-form:hover {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.account-form form {
  border: 0.1rem solid #ebbf46;
  padding: 2rem;
  display: none;
}

.account-form form.active {
  display: block;
}

.account-form form h3 {
  font-size: 2.5rem;
  text-transform: capitalize;
  color: #444;
  padding-bottom: .5rem;
  text-transform: uppercase;
}

.account-form form .box {
  width: 100%;
  padding: 1.2rem 1.4rem;
  border: 0.1rem solid #ebbf46;
  font-size: 1.6rem;
  margin: .7rem 0;
}

.account-form form .flex {
  padding: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: .5rem;
}

.account-form form .flex label {
  font-size: 1.5rem;
  color: #777;
  cursor: pointer;
}

.account-form form .flex a {
  font-size: 1.5rem;
  color: #777;
  margin-left: auto;
}

.account-form form .flex a:hover {
  text-decoration: underline;
  color: #ebbf46;
}

.account-form form .btn {
  width: 100%;
}

.account-form .buttons .btn {
  margin: 0 .5rem;
}

.account-form .buttons .btn.active {
  background: #ebbf46;
  color: #fff;
}



.home {
  padding: 0;
}

.home .slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60rem;
  background-size: cover !important;
  background-position: center !important;
}

.home .slide .content {
  width: 50rem;
}

.home .slide .content h3 {
  font-size: 5rem;
  text-transform: capitalize;
  color: #444;
  color: #fff;
}

.home .slide .content p {
  font-size: 1.6rem;
  line-height: 2;
  color: #777;
  color: #eee;
  padding: 1rem 0;
}

.swiper-pagination-bullet-active {
  background: #ebbf46;
}

.subjects .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(16rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 2rem;
}

.subjects .box-container .box {
  padding: 3rem 2rem;
  text-align: center;
  border: 0.1rem solid #ebbf46;
  background: #fff;
  cursor: pointer;
}

.subjects .box-container .box:hover {
  background: #efedd9;
}

.subjects .box-container .box:hover h3 {
  color: #fff;
}

.subjects .box-container .box:hover p {
  color: #eee;
}

.subjects .box-container .box img {
  height: 10rem;
  margin-bottom: .7rem;
}

.subjects .box-container .box h3 {
  font-size: 1.7rem;
  text-transform: capitalize;
  color: #444;
  padding: .5rem 0;
}

.subjects .box-container .box p {
  font-size: 1.5rem;
  line-height: 2;
  color: #777;
}



.home-subjects{
  min-height: none;
  background-color: #fff
}

.home-subjects .box-container{
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(16rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 2rem;
}

.home-subjects .box-container .box{
  padding: 3rem 2rem;
  text-align: center;
  border: 0.1rem solid #ebbf46;
  background: #fff;
  cursor: pointer;
}

.home-subjects .box-container .box:hover {
  background: #efedd9;
}

.home-subjects .box-container .box:hover h3 {
  color: #fff;
}

.home-subjects .box-container .box img {
  height: 10rem;
  margin-bottom: .7rem;
}

.home-subjects .box-container .box h3 {
  font-size: 1.7rem;
  text-transform: capitalize;
  color: #444;
  padding: .5rem 0;
}



.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 3rem;
}

.about .image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

.about .image img {
  width: 100%;
}

.about .content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

.about .content .about-title {
  font-size: 3rem;
  text-transform: capitalize;
  color: #444;
}

.about .content p {
  font-size: 1.5rem;
  line-height: 2;
  color: #777;
  padding: 1rem 0;
}

.about .content .icons-container {
  margin-top: 1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(16rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 2rem;
}

.about .content .icons-container .icons {
  text-align: center;
  border: 0.1rem solid #ebbf46;
  background: #fff;
  padding: 3rem 2rem;
}

.about .content .icons-container .icons:hover {
  background: #efedd9;
}



.about .content .icons-container .icons img {
  height: 5rem;
  margin-bottom: .5rem;
}

.about .content .icons-container .icons h3 {
  padding: .5rem 0;
  font-size: 3rem;
  text-transform: capitalize;
  color: #444;
}

.about .content .icons-container .icons span {
  font-size: 1.5rem;
  line-height: 2;
  color: #777;
}

.teachers .slide {
  text-align: center;
}

.teachers .slide:hover .image img {
  background: #ebbf46;
}

.teachers .slide:hover .image .share {
  bottom: 0;
}

.teachers .slide .image {
  position: relative;
  overflow: hidden;
}

.teachers .slide .image img {
  background: #efedd9;
  width: 100%;
}

.teachers .slide .image .share {
  position: absolute;
  bottom: -10rem;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  padding: 2rem;
}

.teachers .slide .image .share a {
  font-size: 3rem;
  margin: 0 1rem;
  color: #fff;
}

.teachers .slide .image .share a:hover {
  color: #ebbf46;
}

.teachers .slide .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.teachers .slide .content h3 {
  font-size: 2rem;
  text-transform: capitalize;
  color: #444;
}

.teachers .slide .content span {
  font-size: 1.5rem;
  line-height: 2;
  color: #777;
}

.reviews .slide {
  text-align: center;
}

.reviews .slide p {
  font-size: 1.5rem;
  line-height: 2;
  color: #777;
  position: relative;
  background: #efedd9;
  border: 0.1rem solid #ebbf46;
  margin-bottom: 3rem;
  padding: 2rem;
}

.reviews .slide p::before {
  content: '';
  position: absolute;
  bottom: -1.2rem;
  left: 50%;
  -webkit-transform: translateX(-50%) rotate(45deg);
          transform: translateX(-50%) rotate(45deg);
  background: #f0fdfa;
  border-bottom: 0.1rem solid #ebbf46;
  border-right: 0.1rem solid #ebbf46;
  height: 2rem;
  width: 2rem;
}

.reviews .slide img {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
}

.reviews .slide h3 {
  font-size: 2.2rem;
  text-transform: capitalize;
  color: #444;
  padding: .5rem 0;
}

.reviews .slide .stars {
  font-size: 1.2rem;
  color: #ebbf46;
}


.contact .icons-container {
  margin-bottom: 3rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2rem;
}

.contact .icons-container .icons {
  text-align: center;
  padding: 3rem 2rem;
  border: 0.1rem solid #ebbf46;
  background: #fff;
}

.contact .icons-container :hover {
  background: #efedd9;
}

.contact .icons-container .icons i {
  height: 6rem;
  width: 6rem;
  line-height: 6rem;
  font-size: 2rem;
  border-radius: 50%;
  margin-bottom: .5rem;
  color: #fff;
  background: #ebbf46;
}

.contact .icons-container .icons h3 {
  font-size: 2rem;
  text-transform: capitalize;
  color: #444;
  padding: .5rem 0;
}

.contact .icons-container .icons p {
  font-size: 1.5rem;
  line-height: 2;
  color: #777;
}

.contact .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
}

.contact .row form {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 55rem;
          flex: 1 1 55rem;
  border: 0.1rem solid #ebbf46;
  padding: 2rem;
}

.contact .row form h3 {
  font-size: 2.5rem;
  text-transform: capitalize;
  color: #444;
  padding-bottom: 1rem;
}

.contact .row form .inputBox{
  display: flex;
  align-items: center;
  margin-top: rem;
  margin-bottom: 2rem;
  background:var(--bg);
  border:var(--border);
}

.contact .row form .inputBox span{
  color:#444;
  font-size: 2rem;
  padding-right: 2rem;
}

.contact .row form .inputBox span:hover {
  color: #ebbf46;
}

.contact .row form .box {
  width: 100%;
  padding: 1.2rem 1.4rem;
  border: 0.1rem solid #ebbf46;
  font-size: 1.6rem;
  margin: .7rem 0;
}

.contact .row form .box:focus {
  color: #ebbf46;
}

.contact .row form .box:focus::-webkit-input-placeholder {
  color: #eee;
}

.contact .row form .box:focus:-ms-input-placeholder {
  color: #eee;
}

.contact .row form .box:focus::-ms-input-placeholder {
  color: #eee;
}

.contact .row form .box:focus::placeholder {
  color: #eee;
}

.contact .row form textarea {
  height: 15rem;
  resize: none;
}

.contact .row .map{
  flex: 1 1 55rem;
  width: 100%;
  height: 30rem;
  object-fit: cover;
}

.faq .accordion-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.faq .accordion-container .accordion {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  border: 0.1rem solid #ebbf46;
}

.faq .accordion-container .accordion.active .accordion-heading {
  background: #ebbf46;
}

.faq .accordion-container .accordion.active .accordion-heading h3 {
  color: #fff;
}

.faq .accordion-container .accordion.active .accordion-heading i {
  color: #fff;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.faq .accordion-container .accordion.active .accordion-content {
  display: block;
}

.faq .accordion-container .accordion .accordion-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1rem;
  cursor: pointer;
  padding: 1.5rem;
}

.faq .accordion-container .accordion .accordion-heading h3 {
  font-size: 2rem;
  text-transform: capitalize;
  color: #444;
}

.faq .accordion-container .accordion .accordion-heading i {
  font-size: 2rem;
  color: #ebbf46;
}

.faq .accordion-container .accordion .accordion-content {
  padding: 1.5rem;
  font-size: 1.5rem;
  line-height: 2;
  color: #777;
  border-top: 0.1rem solid #ebbf46;
  display: none;
}

.logo-container {
  text-align: center;
}

.logo-container img {
  height: 10rem;
  pointer-events: none;
}

.pattern{
  background: #eeeeee;
}

.pattern .box-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.pattern .box-container .box{
  margin: 0.1rem;
  text-align: right;
  padding: 1rem 1rem;
  text-align: center;
  cursor: pointer;
}
.pattern .box-container .box h3{
  font-size: 2.2rem;
  text-transform: capitalize;
  color: #444;
}
.pattern .box-container .box h1{
  font-size: 3.2rem;
  text-transform: capitalize;
  color: #444;
}

.footer {
  background: #efedd9;
}

.footer .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2rem;
}

.footer .box-container .box h3 {
  font-size: 2.2rem;
  text-transform: capitalize;
  color: #444;
  padding: 1rem 0;
}

.footer .box-container .box h3 i {
  color: #ebbf46;
}

.footer .box-container .box h3 i:hover{
  color: #f70707;
}

.footer .box-container .box .share {
  margin-top: 1rem;
}

.footer .box-container .box .share a {
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  font-size: 1.7rem;
  background-color: #ebbf46;
  color: #fff;
  margin-right: .3rem;
  text-align: center;
}

.footer .box-container .box .share a:hover {
  background-color: #444;
}

.footer .box-container .box .link {
  font-size: 1.7rem;
  line-height: 2;
  color: #777;
  padding: .5rem 0;
  display: block;
}

.footer .box-container .box .link:hover {
  color: #ebbf46;
  text-decoration: underline;
}

.footer .box-container .box p {
  font-size: 1.5rem;
  line-height: 2;
  color: #777;
  padding: 1rem 0;
}

.footer .box-container .box img{
    display: inline-block;
    width: 25%;
    height: 50%;
    margin: .3rem .4rem;
}

.footer .box-container .box .email {
  width: 100%;
  padding: 1.2rem 1.4rem;
  font-size: 1.6rem;
  border: 0.1rem solid #ebbf46;
  margin-bottom: 1rem;
}

.footer .credit {
  text-align: center;
  margin-top: 3rem;
  padding-top: 3rem;
  font-size: 2rem;
  text-transform: capitalize;
  color: #444;
  border-top: 0.1rem solid #ebbf46;
}

.footer .credit span {
  color: #ebbf46;
}

.footer .credit span:hover{
  color: #f50505;
}

.scroll-top{
  position: fixed;
  bottom:7.5rem; right:2rem;
  z-index: 100;
  display: none;
}

.scroll-top img{
  height: 7rem;
}

@media (max-width: 1200px) {
  .header {
    padding: 2rem 5%;
  }
  section {
    padding: 3rem 5%;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  .header {
    padding: 2rem;
  }
  section {
    padding: 3rem 2rem;
  }
}

@media (max-width: 768px) {
  .header #menu-btn {
    display: inline-block;
  }
  .header .navbar {
    position: fixed;
    top: 0;
    right: -105%;
    width: 30rem;
    background: #fff;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: 1200;
  }
  .header .navbar #close-navbar {
    display: block;
  }
  .header .navbar.active {
    -webkit-box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.8);
            box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.8);
    right: 0;
  }
  .header .navbar a {
    display: block;
    margin: 1rem 0;
    text-align: center;
    font-size: 3rem;
  }
  .home .slide .content h3 {
    font-size: 3rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .heading {
    font-size: 3rem;
  }
  .about .content .about-title {
    font-size: 4rem;
  }
}

/*# sourceMappingURL=style.css.map */


